<table border="1">
  <th>The premise</th>
  <th>Edit?</th>
  <th>Delete</th>
    <tr>
      <td><%= @premise.premise %></td>
      <td><%= "[edit]"%></td>
      <td><%= "[delete]"%></td>
    </tr>
</table>

<form action="/premise/<%= @premise.id %>/acts"  method="post">
 <textarea rows="8" cols="25" type="text" name="content">
   A farm boy learns friendship from an old man.
 </textarea>
 <select name="act_number">
   <option value="1">Act 1</option>
   <option value="2">Act 2</option>
   <option value="3">Act 3</option>
 </select>

<input type="submit">
</form>




<table border="1">
  <th>Upvote button</th>
  <th>Acts</th>
  <th>Act Number</th>
  <th>Upvotes</th>
    <% @premise.acts.each do |item| %>
    <tr>
      <td>
        <form action="/premise/<%=@premise.id %>/act/<%= item.id%>/1" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="submit" value="^">
        </form>
       </td>
      <td><%= item.content %></td>
      <td><%= item.act_number%></td>
      <td><%= item.vote%></td>
    </tr>
    <% end %>
</table>

<%= @params %>
