<table border="1">
  <th>The premise</th>
  <th>Edit?</th>
  <th>Delete</th>
    <tr>
      <td><%= @premise.premise %></td>
      <td><%= "[edit]"%></td>
      <td><%= "[delete]"%></td>
    </tr>
</table>
<a href=<%="/premise/#{@premise.id}/acts/new"%>>[New Act]</a>


<table border="1">
  <th>Upvote button</th>
  <th>Acts</th>
  <th>Act Number</th>
  <th>Upvotes</th>
    <% @premise.acts.each do |item| %>
    <tr>
      <td>
        <form action="/premise/<%=@premise.id %>/act/<%= item.id%>/1" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="submit" value="^">
        </form>
       </td>
      <td><%= item.content %></td>
      <td><%= item.act_number%></td>
      <td><%= item.vote%></td>
    </tr>
    <% end %>
</table>

<%= @params %>
