<!-- message if act wasn't saved -->
<% if flash[:act_error] %>
  <%= flash[:act_error] %>
<% end %>
<!-- hot mess -->
<% if flash[:captcha_error]  %>
  <%= flash[:captcha_error] %>
<% end %>

<table class="table table-bordered table-striped">
  <th>The premise</th>
    <tr>
      <td><%= @premise.premise %></td>
    </tr>
</table>

<form action="/premise/<%= @premise.id %>/acts"  method="post">
 <textarea rows="8" cols="25" type="text" name="content">
 </textarea>
<input type="submit">
      <div class="g-recaptcha" data-sitekey="<%=ENV['SITE_KEY']%>"></div>
</form>


<!-- the act table -->
<table class="table table-bordered table-striped">
  <th>Act ID </th>
  <th>Acts</th>
    <% @premise.acts.each do |item| %>
    <tr>
       <td><%= item.id %></td>
       <td><%= item.content %></td>
    </tr>
    <% end %>
</table>

